*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 
header{
    background-color: silver;
    color: chocolate;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
}
header nav{
padding: 20px;
background-color: burlywood;
}
header nav ul{
    display: flex;
    text-decoration: none;
    color: black;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}
